@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");
:root {
    --bg1: #151828;
    --bg2: #3b4470;
    --body: #babfe0;
    --brand: #573dff;
    --white: #fff;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' !important;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1) !important;
    
}
*{
    -webkit-transition: all .2s linear;
    transition: all .3s linear;
    border-radius: 0px !important;
}


/* NavBar */
.navbar-brand{
    font-family: 'Dela Gothic One';
    font-size: 32px;
}
.navbar{
    background: linear-gradient(to bottom,#1b1f34,#1a1e3233);
    padding:0;
    margin:0;
}
.navbar a{
    font-size: 16px;
}
.top-nav-collapse{
    background-color: rgb(60, 58, 74) !important;
    padding: 0.75rem !important;
}
.navbar-expand{
    padding:0;
}
.btn-outline-brand{
    background-color: transparent !important;
    color: var(--brand) !important;
    border: 1px solid var(--brand) !important;
    padding: 4px 14px !important;
}
.btn-outline-primary{
    background-color: transparent !important;
    
}

 .btn-outline-brand:hover{
    background-color: var(--brand) !important;
    color: black !important;
}
/* Buttons */
.btn{
   
    transition: all .2s;
    border-radius: 0;
    align-items: center;
    height: 31px !important;
    font-size: 13px !important;
    padding:5px;
}
.btn-brand{
    background-color: var(--brand) !important;
    color: var(--bg1)!important;
    padding: 4px 14px !important;

}
.navbar .navbar-nav .nav-link.active{
    color: var(--brand);
}
.btn-brand:hover{
    background-color: transparent !important;
    color: var(--brand) !important;
    border: 1px solid var(--brand) !important;
}
a{
    color: var(--body)!important;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s;
    font-family: 'Ubuntu';
}

.navbar-collapse ul li a:hover{
    transform: scale(1.1);
    color: var(--brand) !important;
}

#navbarDropdown:hover{
    transform: scale(1.0);
    color: var(--brand) !important;
}

.landing-div{
    background: url(../img/prueba_login.jpg) no-repeat scroll center;
    height: 100vh;
    background-size: cover;
    color: white;
    padding:0;
}
.landing-wrapper{
    background-color:rgba(0,0,0,0.5);
    height: 100%;
}
.landing-wrapper h1{
    font-size: 80px;
    font-family: 'Ubuntu';
}
.navbar.scrolling-navbar.top-nav-collapse {
    padding:0 !important;
    margin:0 !important;
}
.perfil{
    margin-top: 100px;
}
.bg{
    background-color: var(--body);

}
.bg2{
    background-color: var(--bg2);
}
.bck{
    background-color: var(--bg1);
}
.texto{
   
    color: var(--body);
}
.texto2{
    color:var(--bg1);
    font-weight: bold;
}
.titular{
    color: var(--brand);
}
.tablas{
    background-color: var(--bg1) !important;
    color: #fff !important;
}
.body{
    background-color: var(--body);
}
.drop{
    margin-left: 80px !important;
    background-color: var(--body)!important;
    width: 130px;
}
.drop .dropdown-item{
background: var(--body)!important;
color: var(--bg1) !important;
}
.drop .dropdown-item:hover{
    background: var(--body)!important;
    color: var(--brand) !important;
    }

    .btn[class*="btn-outline-"] {
        padding-top: 0;
        padding-bottom: 0.7rem;
    }
/* DatePicker vue*/
    .vdp-datepicker__calendar .cell.selected {
        background: var(--brand) !important;
    }
    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
        border: 1px solid var(--brand) !important;
    }
/* Blog */
    .courses .box-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;
      }
      
      .courses .box-container .box {
        border: 0.1rem solid rgba(255, 255, 255, 0.2);
      }
      
      
      .courses .box-container .box:hover .image img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
      
      .courses .box-container .box .image {
         transition: all .3s ease;
        height: 25rem;
        overflow: hidden;
       
      }
      
      .courses .box-container .box .image img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
      }
      
      .courses .box-container .box .content {
        padding: 2rem;
      }
      
      .courses .box-container .box .content .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-bottom: 1rem;
      }
      
      .courses .box-container .box .content .icons span {
        font-size: 1.2rem;
        text-transform: capitalize;
        color: #fff;
      }
      
      .courses .box-container .box .content .icons span i {
        color: var(--brand);
        padding-right: .5rem;
      }
      
      .courses .box-container .box .content h3 {
        font-size: 2rem;
        text-transform: capitalize;
        color: #fff;
        padding: .5rem 0;
      }
      .heading {
        text-align: center;
        margin-bottom: 3rem;
      }
      
      .heading span {
        top: -50px;
        font-size: 2.8rem;
        color: var(--brand);
      }
      
      .heading h3 {
        font-size: 3.5rem !important;
        text-transform: capitalize;
        color: #fff;
      }
      .heading h4 {
        font-size: 2.5rem !important;
        text-transform: capitalize;
        color: #fff;
      }
      .vdp-datepicker__calendar header .up:not(.disabled):hover {
        cursor: pointer;
        background: var(--brand) !important;
    }
    .vdp-datepicker__calendar header .next:not(.disabled):hover {
        cursor: pointer;
        background: var(--brand) !important;
    }
    .vdp-datepicker__calendar header .prev:not(.disabled):hover {
        cursor: pointer;
        background: var(--brand) !important;
    }

    .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0rem);
        padding-left: var(--bs-gutter-x, 0rem);
        margin-right: auto;
        margin-left: auto;
    }

    /* Buscar pista */

    #milestone{
        background: linear-gradient(to right,rgba(27, 31, 52, 0.8),rgba(24, 27, 42, 0.8)), url('../img/padel4.jpeg');
        background-size: cover;
        background-position: center;
        padding-top: 0px;
        padding-bottom: 0;
        background-attachment: fixed;
      
        margin-bottom: 0;
    }
    
    #milestone h1{
        color: #fff !important;
        text-align: center !important;
        font-size: 45px;
        margin: 0 !important;
        padding:0;
    }
    .card .card-header {
        border-top: none !important;
        border-bottom: none !important;
    }
  
    .card .card-header {
        display:flex;
        justify-content: center;
    }
    .v-card__title {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: .0125em;
        line-height: 2rem;
        word-break: break-all;
        padding: 8px !important;
    }
    .foto{
        width: 45px;
        height: 45px;
        border-radius: 50px !important;
        object-fit: cover;
        object-position: center;
    }
    .v-card__text {
       
        padding: 8px !important;
    }
    .aviso{
        font-size: 24px;
        color:#fff;
    }
.brand{
    color: var(--brand);
}

@keyframes slide {
    from {
        visibility: visible;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.slide {
    -webkit-animation-name: slide;
    animation-name: slide
}

.project-area{
    padding: 4rem 0;

}
.our-project .img {
    filter: grayscale(16%);
    transition: all .2s ease;
}

.project-area .grid .our-project > .title h4{
font: normal 700 25px/12px var(--roboto);
}
.project-area .grid .our-project .img a:hover img{
   
    filter:brightness(1.1) drop-shadow(1px 5px 10px var(--body));
    
    
}
.our-project .img:hover {
    filter: grayscale(0%);
  
    
    
}
.title-h1{
    font:normal bold 39px/40px var(--roboto);

}
.project-area .button-group button{
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: var(--bg1);
    color:var(--body);
    transition: all .3s;
    border-radius: 0;
    border: 1px solid var(--body);
   
    height: 40px !important;
    font-size: 18px !important;
    padding:   5px !important;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}
.project-area .button-group button:hover{
    color:var(--brand);
    border: 1px solid var(--brand);
}
.modal{
    background: linear-gradient(to top,rgba(23, 26, 40, 0.8),rgba(24, 27, 42, 0.8));
  
   top: 0px;
   color: white;
  
   left: 0;
  
  
}

/* Carrito */
.dropdown-cart .lnk-cart .items-cart-inner {
    position: relative;
  }
 .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket {
      padding: 22px 12px 13px 15px;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      float: left;
      letter-spacing: 0.5px;
     
  }
  .dropdown-cart .lnk-cart .items-cart-inner .basket {
    float: left;
    
    padding: 12px;
    border-right: 1px solid rgba(255,255,255,0.2);
    padding: 22px 18px 13px 12px;
  }
 .dropdown-cart .lnk-cart .items-cart-inner .basket-item-count {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
      height: 18px;
      position: absolute;
      left: 39px;
      top: 24px;
      width: 18px;
      background: var(--body);
      color: var(--bg1);
      font-size: 11px;
      text-align: center;
      line-height: 19px;;
  }
 .dropdown-cart .dropdown-menu {
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    left:8px;
    padding: 24px 22px;
    border: 1px solid var(--bg2);
    border-radius: 5px 5px 5px 5px !important;
    background: linear-gradient(to top,rgba(29, 33, 51, 0.95),rgba(37, 41, 61, 0.95));
    font-size:12px;
    color: var(--body);
    width: 230px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
 .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .total-price {
    color: var(--brand);

  }
  .price{
      font-size: 14px !important;
  }
  .lnk-cart:hover{
    transform: scale(1) !important;
  }

  .fa-trash:hover{
      color: var(--brand);
      transform: scale(1.07);
  }
  /* Contacto */

  #contacto{
    background: linear-gradient(to right,rgba(27, 31, 52, 0.7),rgba(27, 31, 52, 0.7)), url('/img/contacto.jpeg');
    background-size: cover;
    background-position: center;
}

#contacto form{
    background:linear-gradient(to bottom,#2b2d3c,rgba(21, 25, 41, 0.2))!important;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 32px !important;
}

#contacto form .form-control{
    background-color: #151828;
    border-radius: 0;
    margin-top: 16px;
    border-color: var(--bg2);
    border: 2px solid var(--bg2);
    color: var(--body);
}

#contacto form input{
    height: 50px;

}

#contacto form input:focus,textarea:focus{
   
    box-shadow:none;
    border-left-color:  var(--brand) !important;
}
/* Footer */
footer{
    padding-top:50px;


}
.footer-top{
    padding-bottom: 30px;
}

footer .social-links{
    display: flex;
    

}
footer .social-links a{

    font-size: 28px;

}
footer .social-links a:hover i{
    color: var(--brand);
    transform: scale(1.1);
}
.footer-bottom{
    border-top: 1px solid var(--bg2);

}
/* Welcome Section */


.welcome {
    padding: 11px 384px !important;
    margin-top: -63px !important;
    background-color: var(--bg2);
    color: var(--body);
    position: absolute;
    box-shadow: 0 0 20px 7px rgb(0 0 0 / 20%) !important;
}
.welcome h1{
    color: #333;
}
h4{
    color: var(--body);
}
.google-maps{
   
    border-radius:10px !important;
    box-shadow: 4px 6px 12px 5px rgba(165,170,204,0.85)  !important;
}
.mb-50 {
    margin-bottom: 40px !important; 
}


/* Icono social */
#contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #contact-info .links {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
  }
  
  #contact-info a {
    text-decoration: none;
    color: var(--color-bright);
    font-size: 2rem;
  }
  
  
  
  /* ****************** */
  /* PREVENTING FLICKERING ON HOVER BECAUSE OF ROTATING AND SKEW TRANSFORMATIONS*/
  #contact-info .links a {
    display: flex;
    position: relative;
  }
  #contact-info .links a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    transition: all .3s;
  }
  #contact-info .links a:hover::after {
    /* transform: rotate(35deg) skew(-20deg); */
    --transformed-box-diagonal-length: 164%;
    width: var(--transformed-box-diagonal-length);
    left: calc( (100% - var(--transformed-box-diagonal-length)) / 2 );
  }
  /* ****************** */
  
  
  #contact-info .links a div {
    position: relative;
    display: block;
    width: 55px; 
    height: 55px;
    transition: transform .3s;
  }
  
  
  #contact-info .links a:hover div {
    transform: rotate(-35deg) skew(20deg);
  }
  
  .links a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    /* transition-property: opacity, transform;
    transition-duration: 0.5s; */
    border: 1px solid var(--body);
    /* border-color: var(--color-bright); */
    border-radius: 5px;
  }
  
  
  
  .links a:hover span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
  
  }
  .links a:hover span:nth-child(4) {
    transform: translate(15px, -15px);
    opacity: .8;
  }
  .links a:hover span:nth-child(3) {
    transform: translate(10px, -10px);
    opacity: .6;
    
  }
  .links a:hover span:nth-child(2) {
    transform: translate(5px, -5px);
    opacity: .4;
    
  }
  .links a:hover span:nth-child(1) {
    opacity: .2;
  
  }
  
  /* orange background spans */
  .links a.orange-background span {
    background: var(--brand);
    border-color: var(--brand);
  }

 
  
  .links a.orange-background span:nth-child(5) {
    background: var(--bg1);
    border-color: var(--brand);
  }
  

  
  .links a.orange-background:hover span:nth-child(5) .face {
    color:#2a55b1;
    
    
  }
  .links a.orange-background:hover span:nth-child(5) .insta {
    color:#C13584;
    
  }

  
  .links a.orange-background:hover span:nth-child(5) .wat {
    color:#59CE72;
    
  }

  /* Login */

  .login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:800px;
	position:relative;
    background: url(../img/torneo3.jpg) no-repeat ;
    background-size: cover;
    object-fit: cover;
    
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    
	width:100%;
	height:100%;
	position:absolute;
	padding:50px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:400px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}

.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff !important;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px !important;
	background:rgba(255,255,255,.1);
}
.require-validation input{
    border:none;
	padding:10px 15px;
	border-radius:15px !important;
	background:rgba(255,255,255,.1) !important;
    width:100%;
	color:#fff !important;
	display:block;


}

.input
{
	border:none;
	padding:15px 20px;
	border-radius:15px !important;
	background:rgba(255,255,255,.1) !important;
    width:100%;
	color:var(--bg1) !important;
	display:block;
}
.r{

    padding:0px 12px !important;


}



.input:focus{
    border:1px solid var(--brand) !important; 
    
}
label {
    font-weight: bold;
    margin-left: 10px !important;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:14px;
    text-align: left !important;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px !important;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:30px 0 0px 0;
	background:var(--brand);
}
.foot-lnk{
	text-align:center;
}
.boton5 {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    position: relative;
    border: 2px solid #318aac;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .boton5:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
   
  }
  .btn-outline-primary{
    color: #0d6efd !important;
}
  .btn-outline-primary:hover{
      background-color: #1161ee !important;
      color: white !important;
  }

  .label.btn span {
    text-align: center;
    padding: 4px 12px;
    display: block;
    min-width: 80px;
}

.btn-outline-javi {
    color: #dc3545;
    border-color: #dc3545;
    background-color: transparent !important;
  }
  .btn-outline-javi:hover {
    color: rgb(226, 223, 223) !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
  }
  .margen {
      margin-top: 80px !important;
  }
  .header a{
    text-decoration: none;
  }
  
  .header #logo{
      display: block;
      top: 0;
    position: relative;
    left: 245px;
     width: 300px;
     height: 90px;
    
 
  }

  .header #logo img{
    display: block;
    position: absolute;
    top: -23px;
    left: 45px;
    text-align: center;
    margin: 0px auto;
    width: 220px;
    cursor: pointer;
   align-items: center;
   overflow: hidden;
   transform: scale(1.65);
   }

   .header #logo .bola-L{
    position: absolute;
    width: 70%;
    left: -15px;
    top: -18px;
    
 

}
.header #logo .bola-R{
    position: absolute;
    width: 70%;
    left: 48px;
    top: -18px;
    
 

}
.pagar{
    border-bottom: 3px solid var(--brand) !important;
}

.list-group .list-group-flush {
    
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
    margin-bottom: o;
    border-radius: 0.25rem;
}
.btn-sm {
    padding: 0.3rem 1.6rem !important;
   
}

.card .card-header h3 {
    margin: 0;
    font-size: 24px;

    font-weight: bold;
    color: var(--body);
}



.paginate_button .page-item .next .disabled{
    padding: 5px;
    color: var(--body) !important;
    background-color: transparent !important;  
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px;
    background:var(--body);
    background-position: center right 15px;
    background-repeat: no-repeat;
    -webkit-background-size: 10px;
    background-size: 10px;
    height: 35px !important;
}
.modify:hover{
  color: black !important;
}